.control {
    color: rgb(0, 0, 0);
    background-color: rgba(217, 217, 228, 0.945);
    margin-left: 10px;

    &:hover {
        opacity: 0.8;
        background-color: aliceblue;
    }
}

#play {
    color: rgb(235, 4, 4);
}

/* cannot add tag in CSS module, it will affect global
 CSS module only generate HASH class name for class/id in fileName.module.css
*/
/* h1 { // apply GLOBAL HTML tag 
    color: red;
} */